html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}
a {
	text-decoration: none;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.flex {
	display: flex;
}
/** header **/
header {
	width: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	transition: .5s;
	z-index: 999;
}
header.hide {
	transform: translateY(-100%);
}
header .container {
	padding: 16px 0;
	align-items: center;
	justify-content: space-between;
}
header h1 {
	height: 58px;
}
header h1 img {
	height: 100%;
}
header li {
	padding: 0 12px;
}

/** promotion-wrapper **/
.promotion-wrapper {
	background-image: url(../image/untitled06.jpg);
	background-size: cover;
	padding: 16em 0 12em 0;
	color: #fff;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 24px;
}
h3 {
	font-weight: 600;
	font-size: 40px;
}
.container p {
	font-size: 20px;
	font-weight: 300;
}
.btn {
	font-size: 12px;
	font-weight: 600;
	letter-spacing: .2em;
	display: inline-block;
	color: #fff;
	background: #297CBB;
	padding: 12px 24px;
	margin-top: 2em;
	border-radius: 2em;
}
.btn span{
	color: #FFF;
	position: relative;
	padding-right: 24px;
}
.btn span::after{
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	width: 6px;
	height: 6px;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	transform: rotate(45deg);
	margin-top: -4px;
}

/** contents **/
.contents h3 {
	font-size: 32px;
	margin-top: 80px;
}
.contents p {
	font-size: 16px;
	margin-top: 24px;
}
